---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-E_Y22GA1-6Hw4AItZO3RL2G%4039YRPE1LV100LQkDitzEcOMVJAhlIo93
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-E_Y22GA1-6Hw4AItZO3RL2G@39YRPE1LV100LQkDitzEcOMVJAhlIo93
  recorded_at: Wed, 01 Mar 2017 10:41:15 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-E_Y22GA1-6Hw4AItZO3RL2G%4039YRPE1LV100LQkDitzEcOMVJAhlIo93&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Wed, 01 Mar 2017 10:41:18 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-cP9Brh95UhMC09SueCTXICU&JobCd=CHECK
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=167647877e50d1e19ffbbaa0ea3e2a84&AccessPass=4fa9bf1b871326ed93b63924e3a5e37a
  recorded_at: Wed, 01 Mar 2017 10:41:18 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=167647877e50d1e19ffbbaa0ea3e2a84&AccessPass=4fa9bf1b871326ed93b63924e3a5e37a&OrderID=OID-cP9Brh95UhMC09SueCTXICU&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-E_Y22GA1-6Hw4AItZO3RL2G%4039YRPE1LV100LQkDitzEcOMVJAhlIo93&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-cP9Brh95UhMC09SueCTXICU&Forward=2a99662&Method=&PayTimes=&Approve=2074149&TranID=1703011941111111111111875765&TranDate=20170301194121&CheckString=f7c8a96e048d6b47e94abf795375b2f2
  recorded_at: Wed, 01 Mar 2017 10:41:22 GMT
recorded_with: VCR 3.0.3
