---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xfWqU3_tE4OjwCzDV17HG0%40k28SKmMvchd5AyZp9-NsJBI.uoXFnRiTl
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-xfWqU3_tE4OjwCzDV17HG0@k28SKmMvchd5AyZp9-NsJBI.uoXFnRiTl
  recorded_at: Thu, 26 Jan 2017 02:36:15 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xfWqU3_tE4OjwCzDV17HG0%40k28SKmMvchd5AyZp9-NsJBI.uoXFnRiTl&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Thu, 26 Jan 2017 02:36:18 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-cTslhbQVKX1ZrpAGUDum8Wa&JobCd=CHECK
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=e67c65fe5a3f2f5d4e7c9c169745cdb0&AccessPass=9853765f2e948d035eee5b608b2656de
  recorded_at: Thu, 26 Jan 2017 02:36:19 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=e67c65fe5a3f2f5d4e7c9c169745cdb0&AccessPass=9853765f2e948d035eee5b608b2656de&OrderID=OID-cTslhbQVKX1ZrpAGUDum8Wa&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xfWqU3_tE4OjwCzDV17HG0%40k28SKmMvchd5AyZp9-NsJBI.uoXFnRiTl&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-cTslhbQVKX1ZrpAGUDum8Wa&Forward=2a99662&Method=&PayTimes=&Approve=1391525&TranID=1701261136111111111111875225&TranDate=20170126113619&CheckString=49532964f1e5db586f89a0bb597a5995
  recorded_at: Thu, 26 Jan 2017 02:36:19 GMT
recorded_with: VCR 3.0.3
