---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xQWjAVLf9vUgsFGR7c3lMw5XiBO_pq8ykTd1mePuCINtr6aKDESh.ZzJ
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-xQWjAVLf9vUgsFGR7c3lMw5XiBO_pq8ykTd1mePuCINtr6aKDESh.ZzJ
  recorded_at: Mon, 23 Jan 2017 11:11:25 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xQWjAVLf9vUgsFGR7c3lMw5XiBO_pq8ykTd1mePuCINtr6aKDESh.ZzJ&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Mon, 23 Jan 2017 11:11:26 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-SlTpiNb1aCUKrOnyJPoVGkh&JobCd=CHECK
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=bb9ef1ec9128f3eb917039e73cff8d5c&AccessPass=8061f2c8eed66513a1ad136264b78343
  recorded_at: Mon, 23 Jan 2017 11:11:26 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=bb9ef1ec9128f3eb917039e73cff8d5c&AccessPass=8061f2c8eed66513a1ad136264b78343&OrderID=OID-SlTpiNb1aCUKrOnyJPoVGkh&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-xQWjAVLf9vUgsFGR7c3lMw5XiBO_pq8ykTd1mePuCINtr6aKDESh.ZzJ&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-SlTpiNb1aCUKrOnyJPoVGkh&Forward=2a99662&Method=&PayTimes=&Approve=1317992&TranID=1701232011111111111111874452&TranDate=20170123201128&CheckString=87f6023ada4703ff389ab651f74add18
  recorded_at: Mon, 23 Jan 2017 11:11:29 GMT
recorded_with: VCR 3.0.3
