---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-td_hFlfJ4iWP9ghlKIcvPAdYwh63-aBUWHPqUs6wzc5cTMAXMgoq%40vID
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-td_hFlfJ4iWP9ghlKIcvPAdYwh63-aBUWHPqUs6wzc5cTMAXMgoq@vID
  recorded_at: Wed, 01 Mar 2017 10:41:07 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-td_hFlfJ4iWP9ghlKIcvPAdYwh63-aBUWHPqUs6wzc5cTMAXMgoq%40vID&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Wed, 01 Mar 2017 10:41:11 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-APJkmAstvKvHHqyMlNJ1vQN&JobCd=CAPTURE&Amount=1980&TdFlag=0
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=6f2d91c9a231767700903df43859a631&AccessPass=e2c38fd72d44e35758b82fc595dff233
  recorded_at: Wed, 01 Mar 2017 10:41:11 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=6f2d91c9a231767700903df43859a631&AccessPass=e2c38fd72d44e35758b82fc595dff233&OrderID=OID-APJkmAstvKvHHqyMlNJ1vQN&Method=1&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-td_hFlfJ4iWP9ghlKIcvPAdYwh63-aBUWHPqUs6wzc5cTMAXMgoq%40vID&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-APJkmAstvKvHHqyMlNJ1vQN&Forward=2a99662&Method=1&PayTimes=&Approve=2074146&TranID=1703011941111111111111875762&TranDate=20170301194112&CheckString=0795c1555c186354c2af4344263cf16c
  recorded_at: Wed, 01 Mar 2017 10:41:13 GMT
recorded_with: VCR 3.0.3
