---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-%401tvZc-OSMrXoIU_ziaLdBWTQP76F054gkJ8K9bfhmsA3.wVlHGECxjN
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-@1tvZc-OSMrXoIU_ziaLdBWTQP76F054gkJ8K9bfhmsA3.wVlHGECxjN
  recorded_at: Thu, 26 Jan 2017 02:36:10 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-%401tvZc-OSMrXoIU_ziaLdBWTQP76F054gkJ8K9bfhmsA3.wVlHGECxjN&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Thu, 26 Jan 2017 02:36:11 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-3yXtmsi5a7lJTpqEY1zISc9&JobCd=CAPTURE&Amount=1980&TdFlag=0
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=4bb5a2211829ba8a686139e33b396e23&AccessPass=9893e4548108f27f82e2b0fbb36e9f54
  recorded_at: Thu, 26 Jan 2017 02:36:11 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=4bb5a2211829ba8a686139e33b396e23&AccessPass=9893e4548108f27f82e2b0fbb36e9f54&OrderID=OID-3yXtmsi5a7lJTpqEY1zISc9&Method=1&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-%401tvZc-OSMrXoIU_ziaLdBWTQP76F054gkJ8K9bfhmsA3.wVlHGECxjN&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-3yXtmsi5a7lJTpqEY1zISc9&Forward=2a99662&Method=1&PayTimes=&Approve=1391515&TranID=1701261136111111111111875215&TranDate=20170126113612&CheckString=463341dbc17041bff44fd3b86f9d59a3
  recorded_at: Thu, 26 Jan 2017 02:36:12 GMT
recorded_with: VCR 3.0.3
