---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-dfjNZIFQ4GUIc2QVDE00DhBKnSyfoUQqkKDHHElkbCnPMTu-d2wJjf6k
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-dfjNZIFQ4GUIc2QVDE00DhBKnSyfoUQqkKDHHElkbCnPMTu-d2wJjf6k
  recorded_at: Wed, 01 Mar 2017 10:41:28 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-dfjNZIFQ4GUIc2QVDE00DhBKnSyfoUQqkKDHHElkbCnPMTu-d2wJjf6k&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Wed, 01 Mar 2017 10:41:28 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-bGF9ZcC5kFVKhQjLU1CAXiO&JobCd=CAPTURE&Amount=1980&TdFlag=0
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=3053aee903085cbd9da026fb90baaf83&AccessPass=28db1d92274622b59242a46103e17ec9
  recorded_at: Wed, 01 Mar 2017 10:41:28 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=3053aee903085cbd9da026fb90baaf83&AccessPass=28db1d92274622b59242a46103e17ec9&OrderID=OID-bGF9ZcC5kFVKhQjLU1CAXiO&Method=1&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-dfjNZIFQ4GUIc2QVDE00DhBKnSyfoUQqkKDHHElkbCnPMTu-d2wJjf6k&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-bGF9ZcC5kFVKhQjLU1CAXiO&Forward=2a99662&Method=1&PayTimes=&Approve=2074156&TranID=1703011941111111111111875772&TranDate=20170301194131&CheckString=bf7daf321c6fad4f55837fd01dafee71
  recorded_at: Wed, 01 Mar 2017 10:41:31 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/AlterTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&AccessID=3053aee903085cbd9da026fb90baaf83&AccessPass=28db1d92274622b59242a46103e17ec9&JobCd=VOID
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=3053aee903085cbd9da026fb90baaf83&AccessPass=28db1d92274622b59242a46103e17ec9&Forward=2a99662&Approve=2074157&TranID=1703011941111111111111875773&TranDate=20170301194134
  recorded_at: Wed, 01 Mar 2017 10:41:34 GMT
recorded_with: VCR 3.0.3
