---
http_interactions:
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveMember.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-.P_toZiRWV2kw3NGYQCjfUBx19crLgz-luDn7eASsqbv46ay5KJ0MT%40E
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: MemberID=MEM-.P_toZiRWV2kw3NGYQCjfUBx19crLgz-luDn7eASsqbv46ay5KJ0MT@E
  recorded_at: Thu, 26 Jan 2017 02:36:23 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/SaveCard.idPass
    body:
      encoding: US-ASCII
      string: SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-.P_toZiRWV2kw3NGYQCjfUBx19crLgz-luDn7eASsqbv46ay5KJ0MT%40E&SeqMode=1&CardNo=4111111111111111&Expire=1901
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: CardSeq=0&CardNo=*************111&Forward=2a99662
  recorded_at: Thu, 26 Jan 2017 02:36:25 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/EntryTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&OrderID=OID-l9PMSp4us2FONhy1nADCdrc&JobCd=CAPTURE&Amount=1980&TdFlag=0
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=1d6cfc178bb26d1ff3bc8a9a9a86ab2f&AccessPass=6a23a6030dc579601e02542a282be544
  recorded_at: Thu, 26 Jan 2017 02:36:25 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/ExecTran.idPass
    body:
      encoding: US-ASCII
      string: AccessID=1d6cfc178bb26d1ff3bc8a9a9a86ab2f&AccessPass=6a23a6030dc579601e02542a282be544&OrderID=OID-l9PMSp4us2FONhy1nADCdrc&Method=1&SiteID=<SiteID>&SitePass=<SitePass>&MemberID=MEM-.P_toZiRWV2kw3NGYQCjfUBx19crLgz-luDn7eASsqbv46ay5KJ0MT%40E&SeqMode=1&CardSeq=0&SecurityCode=123
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: ACS=0&OrderID=OID-l9PMSp4us2FONhy1nADCdrc&Forward=2a99662&Method=1&PayTimes=&Approve=1391533&TranID=1701261136111111111111875232&TranDate=20170126113625&CheckString=69acbff859203cf03904ab2ead92881d
  recorded_at: Thu, 26 Jan 2017 02:36:26 GMT
- request:
    method: post
    uri: https://pt01.mul-pay.jp/payment/AlterTran.idPass
    body:
      encoding: US-ASCII
      string: ShopID=<ShopID>&ShopPass=<ShopPass>&AccessID=1d6cfc178bb26d1ff3bc8a9a9a86ab2f&AccessPass=6a23a6030dc579601e02542a282be544&JobCd=VOID
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=Windows-31J
    body:
      encoding: UTF-8
      string: AccessID=1d6cfc178bb26d1ff3bc8a9a9a86ab2f&AccessPass=6a23a6030dc579601e02542a282be544&Forward=2a99662&Approve=1391534&TranID=1701261136111111111111875233&TranDate=20170126113628
  recorded_at: Thu, 26 Jan 2017 02:36:29 GMT
recorded_with: VCR 3.0.3
